:root {
    --epl-blue: #00025e;
    --epl-purple: #3D1A5A;
}

/*General*/
li {
    list-style: none;
}

ol, ul {
    padding-left: 0rem;
}


/*Navbar*/
#navbar {
    align-content: center;
    background-color: var(--epl-purple);
    color: white;
}

#navbar .navbar-brand {
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
}

.navbar-light .navbar-toggler {
    color: white;
    border: 0;
    line-height: 40px;
    font-size: 30px;

}

.navbar-light .navbar-toggler:hover {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.collapsing .nav-divider,
.show .nav-divider {
    display: none;
}

#nav-link {
    color: white;
    font-weight: bold;
}

.nav-link-icon {
    margin-right: 5px;
    width: 23px;
    margin-top: -3px;
}

.nav-divider {
    background-color: white;
    width: 2px;
    height: 20px;
    transform: translateY(10px);
}

#nav-link:hover {
    color: salmon;
    transition: all 300ms ease-out;
}
.fa-bars:hover{
    color: salmon;
    transition: all 200ms ease-out;
}

.container-fluid#toggle-btn:hover {
    color: salmon;
}

#navbar-logo {
    width: 40px;
}


/*Carousel*/
.carousel-inner {
    width: auto;
    height: 600px;
    background-color: white;
    transition: all 20ms;
    overflow: hidden;
}

.carousel-indicators {
    transform: translateY(45px);
    margin-bottom: 10px;
}

.carousel-indicators .active {
    background-color: var(--epl-blue);
}

.carousel-indicators li {
    background-color: dimgrey;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: var(--epl-purple);
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
}

#carousel_main {
    height: 500px;
    object-fit: contain;
    margin-right: -100%;

}
.carousel-item{
    transition: transform .3s ease,-webkit-transform .3s ease-in;
}

.d-block {
    width: auto;
    height: 700px;
    object-fit: cover;
}


/*Tabs*/
.tabs {
    margin-top: 30px;

}

.tab-header {
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    text-align: center;
    line-height: 60px;
}

.tabs .tab-header > div {
    width: calc(100% / 4);
    text-align: center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    font-size: 17px;
    font-weight: bold;
}

.tabs .tab-header > div:hover {
    color: var(--epl-blue);
    transform: scale(1.1);
    transition: all 200ms ease-in-out;
}

.tabs .tab-header > div.active {
    color: var(--epl-blue);

}

.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 4);
    height: 4px;
    background: salmon;
    left: 2px;
    border-radius: 5px;
    transition: all 500ms ease-in-out
}

.tabs .tab-body {
    position: relative;
    height: calc(100% - 60px);
    padding: 10px 5px;
}

.tab-content {
    display: none;

}

.tab-content.active {
    display: inherit;
    transition: all 500ms ease-in;
}


/*Tables*/
#blank {
    height: 100px;
}

#emblem {
    width: 30px;
    height: 30px;
}

#tname {
    text-align: left;
}


/*Schedules*/
.thead-purple {
    background-color: var(--epl-purple);
}

#schedule-img {
    width: 40px;
    padding: 6px;
}

#th-schedule {
    color: white;
    font-size: large;
    padding: 6px;
}

#th-index {
    padding: 6px;
}

#th-index-match {
    text-align: center;
}

th.schedule-th {
    color: var(--epl-blue);
}

#th-index-result {
    text-align: center;
}

.match_team {
    text-align: center;
}

p.result {
    text-align: center;
}

td.result {
    text-align: center;
}


#schedule-tbody > td {
    padding: 12px;
}

.place {
    color: #888888;
    margin-left: 3px;
    font-size: 5px;
}

.no_match .time {
    color: darkred;
    font-size: large;
    font-weight: bold;
}

.no_match .place,
.no_match .match_team,
.no_match .result {
    opacity: 0;
    font-size: 5px;
}

.no_match_day {
    opacity: 0;
    border-bottom: none;
}

span .home_team {
    width: 103px;
}

.match_img {
    width: 25px;
    height: 25px;
}

.result {
    margin: 0px;
    font-size: large;
    font-weight: bold;
}

.match_detail {
    margin-left: 10px;
    color: var(--epl-purple);
}

.match_detail:hover {
    color: salmon;
    transform: scale(1.1);
    transition: all 200ms ease-out;
}

/*News*/
#th-news {
    height: 54px;
    color: white;
    background-color: darksalmon;
    font-size: large;
}

.fa-newspaper {
    margin-left: 5px;
}

.card {
    width: 700px;
    height: 120px;
    margin: 8px auto;

}

.card-image {
    padding: 5px;
    line-height: 105px;
}

.card-image > img {
    width: 170px;
    height: 110px;
}

.media-content {
    margin-top: 2px;
    padding: 5px;
}

.news-title {
    font-weight: bold;
    font-size: 15px;

    color: var(--epl-blue);
}

.subtitle {
    font-size: small;
    color: #888888;
}

.press {
    font-size: 5px;
    color: cornflowerblue;
}

.press > img {
    width: 70px;
}

.press-date {
    color: #888888;
}

/*Lead_Player*/
#th-lead{
    background-color: #00025e;
    color: white;
}
.lead_inner {
    display: table;
    width: 100%;
    text-align: center;
}

.lead_inner li {
    display: table-cell;
    -webkit-box-sizing: border-box;
    position: relative;
    padding-top: 53px;
}

.lead-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 53px;
    font-size: 13px;
    line-height: 53px;
    background-color: #F7F7F9;
    border-top: 2px solid dimgray;
    border-bottom: 1px solid lightgray;
}

.lead_area {
    position: relative;
}

.image {
    overflow: hidden;
    position: absolute;
    top: 14px;
    left: 14px;
    height: 79px;
}

.image img {
    width: 63px;
    vertical-align: top;
}

.image .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.image + .list {
    position: relative;
    padding: 0 14px 0 91px;
}

.lead_inner li {
    border-bottom: 1px solid lightgray;
}

.lead_inner li + li {
    border-left: 1px solid lightgray;
}

.lead_inner .image + .list .text {
    padding: 11px 42px 10px 17px;
    text-align: left;
}

.lead_inner .text {
    position: relative;
    min-height: 30px;
}

.lead_inner .text + .text {
    border-top: 1px solid lightgray;
}

.lead_inner .rank_num {
    position: absolute;
    top: 11px;
    left: 0;
    font-size: 15px;
}

.lead_inner .best .rank_num, .lead_inner .best .stat {
    color: #3f75da;
    font-weight: bold;
}

.lead_inner .best .name {
    font-weight: bold;
}

.lead_inner .info .name {
    display: block;
    font-size: 15px;
}

.lead_inner .info .team {
    display: block;
    margin-top: 2px;
    font-size: 12px;
    color: #888888;
    letter-spacing: -1px;
}

.lead_inner .stat {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 14px;
}


/* Contact */
#contact {
    text-align: center;
    background-color: var(--epl-blue);
    width: 100%;
    transform: translateY(20px);
    margin-bottom: 0px;
    bottom: 0;
}

.contact__title,
.contact__email,
.contact__rights {
    color: white;
}

.contact__title {
    margin-top: 30px;
}

.contact__links {
    font-size: 40px;
    margin: 14px 0;
}

.contact__links i {
    transition: all 200ms ease;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: pink;
}

.fa-github {
    color: white;
}
