<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="정석진">
    <meta name="description" content="SJ`s Project#1_from /scc">
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='MyPL_logo.png') }}">
    <meta property="og:title" content="My PL"/>
    <meta property="og:description" content="프리미어리그 정보 모아보기"/>
    <meta property="og:image" content="{{ url_for('static', filename='slide_img01.jpg') }}"/>

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <!--Google-font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous"/>

    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}">
    </script>


    <title>MyPL</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ url_for('static',filename='epl-logo.png') }}" id="navbar-logo">
          My_PL
        </a>
        <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="toggle-btn">
          <span class="navbar-toggler-icon"></span>
          <i class="fas fa-bars"></i>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="https://sports.news.naver.com/wfootball/index.nhn" class="nav-link" id="nav-link">
                <img src="https://www.naver.com/favicon.ico?v=20140228" class="nav-link-icon">
                네이버 스포츠
              </a>
            </li>
            <div class="nav-divider"></div>
            <li class="nav-item">
              <a href="https://www.premierleague.com/" class="nav-link" id="nav-link" href="#">
                <img src="https://s3.amazonaws.com/premierleague-static-files/premierleague/pl_icon.png" class="nav-link-icon">
                Premier League
              </a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
    <!-- Navbar -->
    <div class="divider"></div>

    <!--home // 이미지 캐러셀 -->
    <section class="home">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">

          <div class="carousel-item active">
            <img src="{{ url_for('static',filename='carousel-first.png') }}" class="d-block w-100 cover" id="carousel_main"
                 alt="First">
          </div>
          <div class="carousel-item">
            <img
                src="https://resources.premierleague.com/photos/premierleague/photo/2021/01/02/9c4d48ee-d532-4bb8-bd0e-3a7424d144bc/2021-01-02T183803Z_885354575_UP1EH121FRF7Z_RTRMADP_3_SOCCER-ENGLAND-BRH-WLV-REPORT.JPG?width=1350&height=759"
                class="d-block w-100 cover" alt="Second">
          </div>
          <div class="carousel-item">
            <img src="https://resources.premierleague.com/photos/premierleague/photo/2020/12/28/02de4f81-a7d2-4bdb-a312-2dd5f6908a7d/1293502031.jpg?width=1350&height=759" class="d-block w-100 cover" alt="Third">
          </div>

          <div class="carousel-item">
            <img src="https://resources.premierleague.com/photos/premierleague/photo/2021/01/02/216f417b-8d93-42e2-b68d-9b7031369678/2021-01-02T130305Z_685363195_UP1EH121094WK_RTRMADP_3_SOCCER-ENGLAND-TOT-LEE-REPORT.JPG?width=1350&height=759" class="d-block w-100 cover" alt="Fourth">
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </a>
      </div>

    </section>

    <!--Tab-->
    <section id="tab">
      <div class="tabs">
        <div class="tab-indicator"></div>
        <div class="tab-header">
          <div class="active" data-tab="tab-1">
            <i class="fas fa-chart-line"></i> 순위표
          </div>
          <div data-tab="tab-2">
            <i class="fa fa-pencil-square-o"></i> 경기일정
          </div>
          <div data-tab="tab-3">
            <i class="far fa-newspaper"></i> 주요 뉴스
          </div>
          <div data-tab="tab-4">
            <i class="fas fa-medal"></i> 선수순위
          </div>
        </div>

        <!-- 순위표 -->
        <div class="tab-body">
          <div id="tab-1" class="tab-content active">
            <div class="divider"></div>
            <div class="main-container">
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">클럽</th>
                  <th scope="col">경기</th>
                  <th scope="col">승</th>
                  <th scope="col">무</th>
                  <th scope="col">패</th>
                  <th scope="col">득점</th>
                  <th scope="col">실점</th>
                  <th scope="col">GD</th>
                  <th scope="col">승점</th>
                </tr>
                </thead>
                <tbody id="tables-box">
                <tr>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- 경기일정 -->
          <div id="tab-2" class="tab-content">
            <table class="table">
              <thead class="thead-purple">
              <tr>
                <th scope="col" id="th-schedule" class="th-logo">
                  <img id="schedule-img" src="{{ url_for('static', filename="epl-logo.png") }}" alt="">
                  Schedule
                </th>
                <th scope="col" id="th-schedule"></th>
                <th scope="col" id="th-schedule"></th>
                <th scope="col" id="th-schedule"></th>
              </tr>
              </thead>

              <thead class="thead">
              <tr>
                <th scope="col" id="th-index-date">날짜</th>
                <th scope="col" id="th-index-time">시간/장소</th>
                <th scope="col" id="th-index-match">경기</th>
                <th scope="col" id="th-index-result">결과</th>
              </tr>
              </thead>

              <tbody id="schedule-tbody">

              </tbody>
            </table>
          </div>


          <!-- 뉴스 -->
          <div id="tab-3" class="tab-content">
            <table class="table">
              <thead class="thead-news">
              <tr>
                <th scope="col" id="th-news">
                  <i class="far fa-newspaper"></i>
                  News
                </th>
              </tr>
              </thead>
            </table>
            <div id="card_input">
              <div class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="card-image ">
                        <img
                            src="https://imgnews.pstatic.net/image/origin/413/2021/01/06/111546.jpg?type=w140"
                            alt="Placeholder image"
                        />
                      </figure>
                    </div>
                    <div class="media-content">
                      <a href="#" target="_blank" class="news-title">토트넘, '아시아 발롱도르' 4연속 수상 손흥민에게 축하...팬들은 "레전드!"</a>
                      <p class="subtitle">[인터풋볼] 박지원 기자= 토트넘 훗스퍼가 2020 아시안 골드 글로브 어워즈에서 아시아 최고의 축구선수로 선정 된 손흥민에 축하 메시지를
                        보냈다.토트넘은 ...</p>
                      <p class="press">인터풋볼 <span class="press-date">| 2021.01.06 00:05</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- 선수순위 -->
          <div id="tab-4" class="tab-content">
             <table class="table">
              <thead class="thead-lead">
              <tr>
                <th scope="col" id="th-lead">
                  <i class="fas fa-medal"></i>
                  선수순위
                </th>
              </tr>
              </thead>
            </table>
            <div>
              <ul class="lead_inner" id="lead_inner">
                <li>
                  <strong class="lead-title">최다 득점</strong>
                  <div class="lead_area">
                    <div class="image">
                      <img src="https://sports-phinf.pstatic.net/player/wfootball/default/304973.png" alt="">
                      <span class="mask"></span>
                    </div>

                    <div class="list">
                      <div class="text best">
                        <b class="rank_num">1</b>
                        <div class="info">
                          <span class="name">모하메드 살라</span>
                          <span class="team">리버풀</span>
                        </div>
                        <div class="stat">
                          <span>13</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">2</b>
                        <div class="info">
                          <span class="name">손흥민</span>
                          <span class="team">토트넘</span>
                        </div>
                        <div class="stat">
                          <span>12</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">3</b>
                        <div class="info">
                          <span class="name">도미닉 칼버트 르윈</span>
                          <span class="team">애버턴</span>
                        </div>
                        <div class="stat">
                          <span>11</span>
                          골
                        </div>
                      </div>

                    </div>

                  </div>
                </li>
                <li><strong class="lead-title">최다 도움</strong>
                  <div class="lead_area">
                    <div class="image">
                      <img src="https://sports-phinf.pstatic.net/player/wfootball/default/304973.png" alt="">
                      <span class="mask"></span>
                    </div>

                    <div class="list">

                      <div class="text best">
                        <b class="rank_num">1</b>
                        <div class="info">
                          <span class="name">모하메드 살라</span>
                          <span class="team">리버풀</span>
                        </div>
                        <div class="stat">
                          <span>13</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">2</b>
                        <div class="info">
                          <span class="name">손흥민</span>
                          <span class="team">토트넘</span>
                        </div>
                        <div class="stat">
                          <span>12</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">3</b>
                        <div class="info">
                          <span class="name">도미닉 칼버트 르윈</span>
                          <span class="team">애버턴</span>
                        </div>
                        <div class="stat">
                          <span>11</span>
                          골
                        </div>
                      </div>

                    </div>
                  </div>
                </li>
                <li><strong class="lead-title">최다 공격포인트</strong>
                  <div class="lead_area">
                    <div class="image">
                      <img src="https://sports-phinf.pstatic.net/player/wfootball/default/304973.png" alt="">
                      <span class="mask"></span>
                    </div>

                    <div class="list">
                      <div class="text best">
                        <b class="rank_num">1</b>
                        <div class="info">
                          <span class="name">모하메드 살라</span>
                          <span class="team">리버풀</span>
                        </div>
                        <div class="stat">
                          <span>13</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">2</b>
                        <div class="info">
                          <span class="name">손흥민</span>
                          <span class="team">토트넘</span>
                        </div>
                        <div class="stat">
                          <span>12</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">3</b>
                        <div class="info">
                          <span class="name">도미닉 칼버트 르윈</span>
                          <span class="team">애버턴</span>
                        </div>
                        <div class="stat">
                          <span>11</span>
                          골
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li><strong class="lead-title">최다 슈팅</strong>
                  <div class="lead_area">
                    <div class="image">
                      <img src="https://sports-phinf.pstatic.net/player/wfootball/default/304973.png" alt="">
                      <span class="mask"></span>
                    </div>

                    <div class="list">

                      <div class="text best">
                        <b class="rank_num">1</b>
                        <div class="info">
                          <span class="name">모하메드 살라</span>
                          <span class="team">리버풀</span>
                        </div>
                        <div class="stat">
                          <span>13</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">2</b>
                        <div class="info">
                          <span class="name">손흥민</span>
                          <span class="team">토트넘</span>
                        </div>
                        <div class="stat">
                          <span>12</span>
                          골
                        </div>
                      </div>

                      <div class="text">
                        <b class="rank_num">3</b>
                        <div class="info">
                          <span class="name">도미닉 칼버트 르윈</span>
                          <span class="team">애버턴</span>
                        </div>
                        <div class="stat">
                          <span>11</span>
                          골
                        </div>
                      </div>

                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!--Tap-->

      </div>
    </section>

    <!--main-->
    <section id="main">

    </section>

    <!--main-->
    <section id="blank">


    </section>

    <!--Contact-->
    <section id="contact" class="section">
      <h1 class="contact__title">Let`s talk</h1>
      <h2 class="contact__email">strong1133@naver.com</h2>
      <div class="contact__links">
        <a href="https://github.com/strong1133/MyPL" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <p class="contact__rights">
        2021 Promising Developer SJ - All rights reserved
      </p>
    </section>

  </body>
</html>